*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    
}

header img{
width: 100vw;
height: 90vh;
filter: brightness(0.6);

}

.headerText{
    width: 50vw;
    position: absolute;
    top: 250px;
    margin-left: 25vw;
    text-align: center;
}

.header-titre h1{
font-size: 100px;
color: aliceblue;
}

.header-present{
    margin-top: 10%;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease;
    animation: slideUpAnimation 1.5s ease;
    color: rgb(22, 208, 142);
}

@keyframes slideUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(150px); /* Déplacement vers le bas de 50 pixels */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position d'origine */
    }
}

.header-present p{
    font-size: 40px;
}

aside{
    position: sticky;
    top: 20%;
    float: left;
   margin: 10% 2%;
   z-index: 10;
}

.reseaux{
    background-color: rgb(26, 107, 26);
    border: 2px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    height: 15vh;
    padding: 15px ;
}

.reseaux a{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.langages{
    background-color: rgb(26, 107, 26);
    border: 2px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    width: 10vw;
    height: 15vh;
    padding: 15px;
    margin: 50% 0;
}

aside img{
    margin: auto;
}

section{
    padding: 20px 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

section  h2{
    margin: 2%  20vw;
    font-size: 60px;
}  

main{
    
    margin: 2% ;
    margin-left: 20vw;
}

.section-present{
    visibility: hidden;
    
    transition: 1s ease-in-out;
    width: 70vw;
    text-align: justify;
    padding: 2%;
    opacity: 0;
}

.section-present p{
    font-size: 30px;
    margin-left: 20vw;
    font-style: italic;
   
}

section hr{
   transition: margin-top 1.5s;
} 

.main-content{
    background-color: green;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 10%;
    padding: 30px;
}

.content-titre{
    font-size: 40px;
    margin-bottom: 20px;
}

.content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-present{
    font-size: 30px;
    text-align: justify;
    width: 60vw;
}

.content-link img{
    width: 150px;
    height: 150px;
    
}
