*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    
}

body{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}

header img{
width: 99vw;
height: 90vh;
filter: brightness(0.6);

}

.headerText{
    width: 50vw;
    position: absolute;
    top: 250px;
    margin-left: 25vw;
    text-align: center;
}

.header-titre h1{
font-size: 100px;
color: aliceblue;
}

.header-present{
    margin-top: 10%;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease;
    animation: slideUpAnimation 1.5s ease;
    color: rgb(255, 255, 255);
    
}

@keyframes slideUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(150px); /* Déplacement vers le bas de 150 pixels */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position d'origine */
    }
}

.header-present p{
    font-size: 40px;
}

aside{
    position: sticky;
    top: 2%;
    float: left;
   margin: 10% 2% 50%;
   font-weight: bold;
   height: 100vh;
}

aside img{
    margin:20px 0 10px 20px;
}

aside h3{
    text-align: center;
    margin-bottom: 20px;
}

#openAside{
margin-left: 70px;
cursor: pointer;
}

#openAside:hover{
    filter: brightness(1.2);
    
}

nav{
    display: none;
}

.active {
    display: block;
    transition: 1s ease-in-out;
    animation: slideUpAnimation2 1s ease;

  }

  @keyframes slideUpAnimation2 {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* Déplacement vers la gauche de 150 pixels */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position d'origine */
    }
}


.langages{
    padding: 15px;
}


aside span{
    margin-left: 15px;
}

.reseaux{
    padding: 15px ;
    margin: 50% 0;
}

.reseaux a{
    width: fit-content;
    height: fit-content;
}


section{
    padding: 20px 20px 0;
    text-align: center;  
    background-color: whitesmoke;
    
}

section  h2{
    margin: 2%  20vw;
    font-size: 60px;
}  


.section-present{
    visibility: hidden;
    transition: 1s ease-in-out;
    width: 90vw;
    text-align: justify;
    padding: 2%;
    opacity: 0;
}

.section-present p{
    font-size: 30px;
    margin-left: 20vw;
    font-style: italic;
    
}
main{
    margin: 2% ;
    margin-left: 20vw;
}
 
.main-content{
    margin: 10% 0 20%;
    padding: 30px;
}

#hiddenPresent3,#hiddenPresent4,#hiddenPresent5,#hiddenPresent6{
    visibility: hidden;
    transition: 1s ease-in-out;
    opacity: 0;
}

.content-titre{
    font-size: 40px;
    margin-bottom: 4%;
}

.content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-present{
    font-size: 30px;
    text-align: justify;
    width: 70vw;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(35, 35, 124);
    background: linear-gradient(whitesmoke,rgb(35, 35, 124));
    margin: 4% auto 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    
} form h2{
    margin-bottom: 2%;
    text-align: center;
    color: rgb(0, 0, 0);
}

input {
    font-size: 20px;
   margin-bottom: 2%;
    border: 4px ridge;
    outline: none;
    width: 30vw;
    border-radius: 15px;
    padding: 1%;
}

textarea{
    font-size: 20px;
    width: 30vw;
    border: 4px ridge;
    outline: none;
    border-radius: 15px;
    padding: 1%;
}

button{
    font-size: 20px;
    width: 10vw;
    border: 4px ridge;
    outline: none;
    border-radius: 15px;
    padding: 1%;
    margin-left: 69%;
    margin-top: 2%;
    cursor: pointer;
}

.cv{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2%;
    font-size: 20px;
}

.cv img{
    width: 15vw;
    height: 30vh;
}






