*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    
}

body{
    background-color: whitesmoke;
}

header img{
width: 99vw;
height: 90vh;
filter: brightness(0.6);

}

.headerText{
    width: 50vw;
    position: absolute;
    top: 250px;
    margin-left: 25vw;
    text-align: center;
}

.header-titre h1{
font-size: 100px;
color: aliceblue;
}

.header-present{
    margin-top: 10%;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease;
    animation: slideUpAnimation 1.5s ease;
    color: rgb(22, 208, 142);
}

@keyframes slideUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(150px); /* Déplacement vers le bas de 50 pixels */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Retour à la position d'origine */
    }
}

.header-present p{
    font-size: 40px;
}

aside{
    position: sticky;
    top: 8%;
    float: left;
   margin: 10% 2%;
   z-index: 10;
   font-weight: bold;
   height: 40vh;
}

aside img{
    margin:20px 0 10px 20px;
}

aside h3{
    text-align: center;
    margin-bottom: 20px;
}


.langages{
    padding: 15px;
}


.langages span{
    margin-left: 15px;
}

.reseaux{
    padding: 15px ;
    margin: 50% 0;
}

.reseaux a{
    width: fit-content;
    height: fit-content;
}


section{
    padding: 20px 20px 0;
    text-align: center;
    position: sticky;
    top: 0;  
    background-color: whitesmoke;
    z-index: 5;
}

section  h2{
    margin: 2%  20vw;
    font-size: 60px;
}  


.section-present{
    visibility: hidden;
    transition: 1s ease-in-out;
    width: 70vw;
    text-align: justify;
    padding: 2%;
    opacity: 0;
}

.section-present p{
    font-size: 30px;
    margin-left: 20vw;
    font-style: italic;
    
}
main{
    margin: 2% ;
    margin-left: 20vw;
}
 
.main-content{
    margin: 10% 0 20%;
    padding: 30px;
}

.content-titre{
    font-size: 40px;
    margin-bottom: 4%;
}

.content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-present{
    font-size: 30px;
    text-align: justify;
    width: 60vw;
}

.content-link img{
    width: 150px;
    height: 150px;
    
}




